body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(40, 40, 40);

}

h1{
    color: rgb(112, 112, 112);
    font-style: italic;
    font-family: cursive;
    font-size:26px ;
}
 html,body{
    width: 100%;
    height: 100%;
 }

 #box1{

        display: flex;
    align-items: center;
    justify-content: center;
 }

 #box2{

        display: flex;
    align-items: center;
    justify-content: center;
 }

 img{

    height: 400px;
    width: 385px;
    opacity: 65%;

 }